textarea{
	resize: none;
}
/*************************** login page *****************************/
.login-body{
    background-color: #F2F2F2;
}
.frame{
    background-color: #fff;
    border-radius: 10px;
}
.login-header h3{
    border-radius: 10px;
    margin: 66px -15px 0px;
    font-weight: 700;
    font-size: 32px;
    box-shadow: 0 0 3px 1px #ddd;
    background-color: #fff;
    padding: 10px 0px;
    color: #337ab7;
}
.login-container .login-form{
    margin-top: 40px;
    background-color: #fff;
    padding: 35px 24px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.login-container form label{
    margin-bottom: 13px;
}
.login-container form input[type="submit"]{
    margin-top: 20px;
}
.login-container a{
    margin-bottom: 20px;
}
.wrong-input{
    color: #f00;
    font-size: 12px;
}
.admin-login-submit-btn{
	padding:0 !important;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** registeration page **************************************/

.register-name input{
    width: 48%;
    display: inline;
    margin-left: 4px;
}
@media only screen and (max-width: 500px) {
    .name input {
        width: 100%;
        margin-bottom: 5px;
    }
}
.name label{
    margin-right: 16px;
}
.wrong-input-register-page-1{
    width: auto;
    display: inline-block;
   	margin: 0;
    padding: 0 20px;
    border-right: 1px solid #f00;
    margin-bottom: 5px;
}
.wrong-input-register-input-2{
	display: inline-block;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Hospital page **************************************/

.hospital-map{
	width: 100% !important;
    margin-top: 140px !important;
    border-bottom: 5px solid #006cff;
    margin-bottom: 40px;
}
.medilife-services-area:nth-of-type(even){
	background-color: #e7f1ff;
}
.breadcumb-title{
	font-weight: 700;
}
.hospital-review span{
	font-size: 33px;
    font-weight: 600;
    margin-left: 20px;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Service page **************************************/
#reviewLogin{
	margin-top: 17px;
}
.fc-view-container{
	background: #4383A9;
    color: #fff;
    font-weight: 800;
    margin: 10px 51px 23px 52px;
}
.fc-toolbar.fc-header-toolbar{
	margin-right: 51px;
    margin-left: 52px;
    color: #fff;
}
.service-img{
    margin-top: 80px;
    background: #fff;
    border-radius: 10px;
}
.service-img img{
    width: 100%;
    height: 300px;
}
.service-booking h3{
    margin-bottom: 40px;
    font-weight: bold;
}
.service-booking{
    margin-left: 0;
}
.service-booking form .personal-info{
    margin-top: 18px;
}
.booking-date{
    border: 1px solid #337ab7;
    border-radius: 11px;
    padding: 3px;
}
input[type="submit"]{
    font-weight: bold;
}
.last-updated{
    margin-top: 23px;
    font-size: 11px;
    color: #999;
}
.service-info .about-title{
    width: 50%;
}
@media only screen and (max-width: 500px) {
    .service-info .about-title{
	    width: 100%;
	    }
    .service-booking input[type="submit"] {
        margin-top: 20px;
    }
}
.calendar{
    margin-top: 25px;
}
.fc-unthemed td.fc-today {
    background: #006cff;
}
.fc-event, .fc-event-dot {
    background-color: #006cff;
}
.fc-week{
	height: 57px !important;
}
.fc-day-grid-container{
	height: 343px !important;
}
.single-contact-info i{
	color: #fff;
}
.unbooked-slots{
	height: 20px;
	width: 40px;
	background-color: #4383A9;
	margin-bottom: 20px;
}
.unbooked-slots + span{
	color: #fff;
    float: left;
    margin-left: 10px;
}
.booking-form-label label{
	color: #fff;
	line-height: 35px;
}
.booking-form-label{
	margin-top: -20px;
	margin-bottom: -20px;
}
.booking-alert{
	border-radius: 0;
	margin:0;
}
.medilife-book-an-appoinment-area .medilife-appointment-form select{
	background-color: #fff;
}
.single-contact-info p , .single-contact-info a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 48px;
}
.calendar th{
	background-color: #006CFF;
}
.medilife-appoint-btn:hover, .medilife-appoint-btn:focus{
	color: #006CFF;
}
.single-contact-info-icon{
	float: left;
    line-height: 5;
    margin-right: 10px;
    color: #fff;
    width: 23%;
}
.fc-toolbar h2{
    font-size: 20px;
    font-weight: bold;
}
.service-booking input[type="submit"]{
	margin-top: 20px;
}
.service-booking form .personal-info{
	margin-top: 58px;
}
.name input{
	width: 48%;
    display: inline;
}
.name input:nth-of-type(2){
	margin-left: 17px;
}
.review{
	height: 450px;
	background-image: url("/user/layout/images/rating.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 80px -20px;
	position: relative;
}
.overlay{
	background-color: #081F3E;
	opacity: .9;
	height: 100%;
}
.review h2{
	color: #fff;
	font-weight: 900;
	margin-bottom: 40px;
}
.review i{
	padding-top: 46px;
}
.review .overlay{
	padding-top: 35px;
}
.review-form{
	margin-top: 65px;
}
.review-form button{
	font-weight: bold;
}
.reviewSucceeded{
	color: #37ff12;
    font-size: 17px;
    font-weight: 800;
}
.reviewFailed{
	font-size: 17px;
    color: #f00;
    font-weight: 800;
}

/*======================================================================================*/
/*======================================================================================*/

/***************************** Navbar **************************************/
.navbar-brand , .navbar-brand:hover{
	line-height: 46px;
	color: #f7f7f7;
	font-size: 21px;
}
header{
	position: fixed !important;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Find Service **************************************/

.choose-service .panel-primary , .services-information .panel-primary{
    border: 1px solid #B8B8B9;
    margin-top: 20px;
    padding: 0px;
    border-radius: 20px;
    height: 346px;
    margin-right: 8%;
    margin-left: 3%;
    position: relative;
}
#map {
    height: 400px;
    width: 62%;
    margin-top: 20px;
    border-radius: 5px;
}
@media only screen and (max-width: 767px) {
    #map {
        width: 100%;
    }
}
.main-page-container h3{
	margin-top: 0;
    font-weight: 800;
    color: #fff;
    margin-bottom: 40px;
}
.main-page-container{
	padding-top: 160px;
}
.find-me{
    width: 92%;
    border-radius: 11px;
    font-weight: 800;
    margin-left: 6px;
}
label{
    display: inline-block;
}
.enter-address button{
    font-size: 11px;
}
.enter-address h4{
    line-height: .7;
    color: #888;
    font-weight: 600;
}
.enter-address{
    margin-bottom: -8px;
}
.choose-service .panel-primary > .panel-heading , .services-information .panel-primary > .panel-heading{
    height: 30px;  
    border-radius: 20px 20px 0 0;
    padding: 13px 15px 21px 15px;
}
.choose-service .panel-title , .services-information .panel-title{
    font-size: 20px;
    font-weight: 800;
    line-height: 0.5;
}
.custom-pin{
	font-size: 23px;
}
.clinic-pin{
	color: #4089c7;
}
.hospital-pin{
	color: #f73c3c;
}
.center-pin{
	color: #71e486;	
}
.pharmacy-pin{
	color: #c35ed4;
}
.service-pin{
	color: #0ff;
}
.special-services{
	color: #fff;
    background-color: #337ab7;
    padding: 5px;
    margin: 20px -15px 10px;
    font-size: 16px;
}
.avialable-pin{
	color: #4EB25A;
}
.unavialable-pin{
	color: #FF0B0B;
}
.guide-label{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.guide-label span{
	font-size: 9px;
    color: #888;
    font-weight: bold;
}
.lab-pin{
	color: #76c9d6;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Clinic **************************************/
.medilife-btn-appointment{
	padding: 6px 55px 6px 12px !important;
}
.breadcumb-intro{
	color: #081F3E;
}
.my-table{
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 50px;  
    height: 438px;
}
.my-table table{
    background-color: #fff;
    border: #536174;
}
.my-table table td:hover , .booked{
    background-color: #081F3E;
}
.my-table th, .my-table tr{
    text-align: center;
    color: #ecf0f1;
}
.my-table tr{
	background-color: #4383a9;
}
.table-head{
    background-color: #006CFF !important;
    color: #fff !important;
    font-size: 15px;
}
.another-table-head{
	background-color: #006CFF;
	font-weight: 700;
	font-family: Helvetica;
	font-siz: 15px;
	line-height: 21px;
	color: #ecf0f1;
}
.my-table-clinic{
	height: 250px;
}
.medilife-appointment-form-clinic{
	margin-top: -40px;
}
.medilife-contact-info-clinic{
    padding: 30px 30px 168px 30px !important;
}
