/*======================================================================================*/
/*======================================================================================*/

/***************************** Admin Dashboard **************************************/
.brand-dashboard{
	font-size: 13px !important;
	font-weight: 700;
}
.navbar-brand-dashboard img{
	position: absolute;
    height: 30px;
    width: 30px;
    top: 3px;
    right: -11px;
}
.fa-hospital-symbol{
    color: #939699;
    display: inline-block;
}
.my-icon{
    width: 19px;
    height: 35px;
    margin: -13px;
    margin-left: -6px;
    color: #939699;
}
.pharmacy-icon{
    width: 15px;
    height: 15px;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
   display: none;
}
.dashboard-btn {
	color: #fff !important;
    font-size: 13px;
    font-weight: 700;	
    margin: 2px;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Admin Dashboard/Hospitals **************************************/

.dept-in-hospital-table , .dept-in-hospital-table:hover {
	border: 1px solid #2196F3;
    padding: 3px 10px;
    font-size: 15px;
    background-color: #2196F3;
    border-radius: 10%;
    margin: 5px 5px;
    color: #fff;
    font-weight: bold
}