.hidden{
	display: none;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Admin Dashboard **************************************/
.brand-dashboard{
	font-size: 13px !important;
	font-weight: 700;
}
.navbar-brand-dashboard img{
	position: absolute;
    height: 30px;
    width: 30px;
    top: 3px;
    right: -11px;
}
.fa-hospital-symbol{
    color: #939699;
    display: inline-block;
}
.my-icon{
    width: 19px;
    height: 35px;
    margin: -13px;
    margin-left: -6px;
    color: #939699;
}
.pharmacy-icon{
    width: 15px;
    height: 15px;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
   display: none;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Admin Dashboard/Hospitals **************************************/
.dept-in-hospital-table{
	padding: 5px;
	float: left;
	margin: 3px -5px;
}
.dept-in-hospital-table a:first-of-type , .dept-in-hospital-table a:first-of-type:hover {
	border: 1px solid #2196F3;
    padding: 5px 10px 6px;
    font-size: 15px;
    background-color: #2196F3;
    border-radius: 3px 0 0 3px;
    margin: 5px 1px;
    color: #fff;
    font-weight: bold;
}
.dept-in-hospital-table a:nth-of-type(2){
	background: #2196f3;
    color: #fff;
    font-size: 15px;
    padding: 6px;
    padding-bottom: 7px;
    margin-left: -6px;
    border-radius: 0 3px 0 0;
    border-left: 1px solid #898f92;
}
.dept-in-hospital-table a:nth-of-type(2) i{
	padding-right: 6px;
}
.depts-td{
	position: relative;
}
.select-new-dept{
	width: 80%;
    float: left;
    height: 33px !important;
    font-size: 13px;
}
.submit-dept{
	float: left;
    width: 17%;
    margin-left: 3%;
}
.add-dept{
	margin: 77px -10px 2px 3px !important
}
.add-dept-in-hospital-table{
	position: absolute;
    top: 0;
    right: 0;
}
.dashboard-btn {
    font-size: 15px;
    font-weight: 700;	
    margin: 2px;
}
.dashboard-btn:first-of-type{
	color: #42422d;
}
.dashboard-btn:nth-of-type(2){
	color: #f55555;
}
/*======================================================================================*/
/*======================================================================================*/

/***************************** Admin Dashboard/Departments **************************************/
.dashboard-btn-delete-dept{
	color: #fff !important;
}